<div class="container mt-5">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
        <mat-grid-tile>
            <img src="../../assets/b.jpeg" alt="" srcset="" style="cursor: pointer;"
            routerLink="/employee"/>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/linux.jpg" alt="" srcset=""/>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/b.jpeg" alt="" srcset=""/>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="../../assets/b.jpeg" alt="" srcset=""/>
        </mat-grid-tile>
    </mat-grid-list>
</div>